#foo {
  background-color: orange;
  margin: 0.1px;
  padding: 7.5px;
  border: 3px beige solid;
  border-radius: 80px;
}
#bar1 {
  background-color: darkred;
  margin: 0.1px;
  padding: 7.5px;
  border: 3px darkred solid;
  border-radius: 15px;
}
#bar {
  background-color: orange;
  margin: 0.1px;
  padding: 7.5px;
  border: 3px beige solid;
  border-radius: 80px;
}
